html, body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
}
.player {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 0 0 10px 0;
}
.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button, .label {
  background-color: rgb(50,120,200);
  border: none;
  color: white;
  padding: 5px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
  align-content: center;
}
.eq {
  width: 100% - 10px;
  display: grid;
  grid-template-rows: auto auto;
  padding: 5px;
  text-align: center;
}
span {
  color: #fff;
}
#shelf {
  display: flex;
  justify-content: center;
}
#bands {
  width: 100%;
  display: flex;
  justify-content: center;
}
#con_ch {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}